<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Про нас</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
  <h1>Про компанію — інтернет-магазин</h1>
  <p><b>Оптовий інтернет-магазин</b>  пропонує своїм покупцям товари оптом з Китаю.<br>
    У нашому онлайн магазині ви можете купити оптом господарські товари, кухонне приладдя, товари для будинку,<br>
    іграшки, канцтовари, навушники та багато іншого. Купити товари з Китаю можливо як великим, так і дрібним оптом.<br>
  </p>
  <p>У нас широкий асортимент продукції, яку ретельно відбирають категорійні менеджери. Ми зв'язуємося безпосередньо з<br>
    виробниками, контролюємо процес упаковки і якості товару перед відправкою. Весь товар на нашому оптовому <br>
    <b>складі в Україні.</b>
  </p>
  <p>Оптова ціна на китайські товари повсякденного попиту у нас найкраща на ринку, тому що наш пріоритет — прямі поставки!</p>
  <p>Продаж оптом дешевих товарів з Китаю здійснюється по всій території України. Вантаж доставляється як у великі міста — Харків, Львів, Одесу, Дніпро,<br>
    Запоріжжя, Полтаву, так і в дрібні населені пункти України.
  </p>
  <h2>5 причин робити покупки у нас:</h2>
  <p>
    1.Прямі поставки;<br>
    2.Перевірені, якісні товари;<br>
    3.Можливість штрихкодувания товару;<br>
    4.Поставки товару з Китаю з розробленим власним дизайном;<br>
    5.Дешеві оптові ціни.
  </p>
  <p><b>Ми високо цінуємо кожного клієнта та уважні до Ваших побажань і зауважень.<br>
    Ми впевнені в плідній співпраці з Вами. Приєднуйтесь!</b></p>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>