<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Оплата</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
  <h1>Оплата</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0eP8e3Mv2FOnM3CZ8fngCpx-1TYh-EpY3ikGTzNe4-uJe9H6y">
  <p>
    Шановні покупці, Ви можете зробити <b>замовлення:</b> <br>
    - за телефонами, в робочий час з 10:00 до 16:00<br>
    Київстар: +38 (068) 340 67 85<br>
    - через корзину на сайті з 00:00 до 24:00.
  </p>
  <h2>Сума мінімального замовлення на нашому сайті - 1000 грн.</h2>
  <p>Після обробки замовлення з Вами зв'яжеться наш менеджер.</p>
  <p>Терміни формування замовлення складають 1-3 дні. </p>
  <p>
    <b>Оплата</b> за товар проводиться: <br>
    - передоплатою на карту банку в розмірі 100%;<br>
    - післяплатою при отриманні (комісія кур'єрської служби оплачується покупцем).<br>
  </p>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>