<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Інформація</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style=" background-color: #FBEAFF">
<header th:insert="blocks/header :: header"></header>
<main>
  <div class="container mt-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2" style="background-color: #e6e6fa">
      <h1 th:text="${el.title}"/>
      <b>Опис:</b><p th:text="${el.full_text}"/>
      <a th:href="'/' + ${el.id} + '/edit'" class="btn btn-warning">Редагувати</a>
      <form th:action="'/' + ${el.id} + '/remove'" method="post">
        <button  class="btn btn-warning" type="submit">Видалити</button>
      </form>
    </div>
  </div>
</main><br><br><br><br><br><br><br><br><br><br><br>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>