<!DOCTYPE html>
<html>
  <head>
    <title>profile</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/registr.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-field submit-field">
        <input type="button" id="logout" value="Выход" />
      </div>
      <h2 id="hello" class="name">Привет,</h2>
      <!-- <div class="form-field multy-input">
          <label for="record">Запись</label>
          <textarea name="record" id="record"> </textarea>
        </div> -->
      <!-- <div class="form-field submit-field">
          <input type="button" id="button" value="Добавить" />
        </div>
        <div class="comment-block id = 'comm">
          <div class="comment">1231321321<button class="remove">x</button></div>
        </div> -->
    </div>

    <script src="../../java/javas/profile.js"></script>
  </body>
</html>
