<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Вход</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #fff6e3">
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
  <h1>Вхід</h1>
  <form action="/log" method="post">
    <input type="text" name="name" placeholder="Логін" class="form-control"><br>
    <input type="text" name="pass" placeholder="Пароль" class="form-control"><br>
    <button type="submit" class="btn btn-success">Увійти</button>
    <p class="float-end mb-1">
      <a href="/reg">Забули створити акаунт?</a><br>
    </p>
  </form>
</div><br><br><br><br><br><br><br><br><br>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>

